/* Essentials */

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url(font/PTSan.woff) format('woff');
}

html,
div,
map,
dt,
form,
header,
section,
section,
article,
footer {
    display: block;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, "MS PGothic", "Helvetica Neue", Verdana, sans-serif;
    background: url("../img/sidebar.png") repeat scroll 0 0 #E0E0E3;
    font-size: 14px;
}

body {
    min-width: 600px;
}

a {
    color: #333;
}

.clear {
    clear: both;
}

.spacer {
    height: 20px;
}

a {
    color: #333;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.navbar .brand {
    font-size: 26px;
    text-shadow: 0 -1px 0 #000000;
}

tr.muted {
    background-color: #d0d0d0;
    cursor: default;
}

/* Header */

header#header {
    border-left: 0px solid #0a0c0e;
    border-right: 0px solid #0a0c0e;
    border-top: 1px solid #0a0c0e;
    border-bottom: 2px solid #0a0c0e;
    -webkit-filter: none;
    filter: none;
    text-shadow: 1px 1px 1px #0a0c0e;
    color: #fff;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    *zoom: 1;
    -webkit-box-shadow: 0 -1px 0 #4D4D4D inset, 0 1px 0 #7D7D7D inset, -1px 0 0 #5D5D5D inset, 1px 0 0 #5D5D5D inset;
    box-shadow: 0 -1px 0 #4D4D4D inset, 0 1px 0 #7D7D7D inset, -1px 0 0 #5D5D5D inset, 1px 0 0 #5D5D5D inset;
    position: relative;
    z-index: 2;
    border-color: -moz-use-text-color -moz-use-text-color #181818;
}

/* Secondary Header Bar */

div#secondary_bar {
    height: 38px;
    width: 100%;
    margin-top: 43px;
    background: #F1F1F4 url(../img/secondary_bar.png) repeat-x;
}

div#secondary_bar .user {
    float: left;
    width: 18%;
    height: 38px;
}

/* Breadcrumbs */

div#secondary_bar .breadcrumbs_container {
    float: left;
    width: 77%;
    background: url(../img/secondary_bar_shadow.png) no-repeat left top;
    height: 38px;
}

div.breadcrumbs {
    float: left;
    padding: 0 10px;
    font-size: 13px;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 #fff;
    height: 23px;
    margin: 4px 3%;
}

.breadcrumbs a {
    display: inline-block;
    float: left;
    height: 24px;
    line-height: 23px;
}

.breadcrumbs a.current,
.breadcrumbs a.current:hover {
    color: #9E9E9E !important;
    text-shadow: 0 1px 0 #fff !important;
    text-decoration: none !important;
}

.breadcrumbs a:link,
.breadcrumbs a:visited {
    color: #44474F;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    font-weight: bold;
}

.breadcrumbs a:hover {
    color: #222222;
}

.breadcrumb_divider {
    display: inline-block;
    width: 12px;
    height: 24px;
    background: url(../img/breadcrumb_divider.png) no-repeat;
    float: left;
    margin: 0 5px;
}

/* Sidebar */

div#sidebar {
    width: 18%;
    background: #E0E0E3 url(../img/sidebar.png) repeat;
    float: left;
    min-height: 600px;
    margin-top: -4px;
}

#sidebar hr {
    border: none;
    outline: none;
    background: url(../img/sidebar_divider.png) repeat-x;
    display: block;
    width: 100%;
    height: 2px;
}

/* Sidebar Menu */

#sidebar h3 {
    color: #1F1F20;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #fff;
    font-size: 13px;
    margin: 10px 0 10px 6%;
    display: block;
    float: left;
    width: 90%;
}

.toggleLink {
    color: #999999;
    font-size: 10px;
    text-decoration: none;
    display: block;
    float: right;
    margin-right: 2%;
}

#sidebar .toggleLink:hover {
    color: #77BACE;
    text-decoration: none;
}

#sidebar ul {
    clear: both;
    margin: 0;
    padding: 0;
}

#sidebar li {
    list-style: none;
    padding: 0;
    background: rgb(237, 237, 237);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(237, 237, 237, 1)), color-stop(100%, rgba(222, 222, 222, 1)));
    background: -webkit-linear-gradient(top, rgba(237, 237, 237, 1) 0%, rgba(222, 222, 222, 1) 100%);
    background: -o-linear-gradient(top, rgba(237, 237, 237, 1) 0%, rgba(222, 222, 222, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(237, 237, 237, 1) 0%, rgba(222, 222, 222, 1) 100%);
    background: -o-linear-gradient(top, rgba(237, 237, 237, 1) 0%, rgba(222, 222, 222, 1) 100%);
    background: linear-gradient(to bottom, rgba(237, 237, 237, 1) 0%, rgba(222, 222, 222, 1) 100%);
    border-bottom: 1px solid #BBBBBB;
}

#sidebar li a {
    color: #222;
    text-decoration: none !important;
    text-shadow: 0 1px 0 #fff;
    margin: 2px 0;
    font-size: 13px;
    font-weight: 600;
}

#sidebar li:hover {
    color: #444444;
}

#sidebar li:hover a {
    background-color: #f0f0f0;
}

#sidebar li.active a {
    background: #f4f4f4;
}

#sidebar p {
    color: #666666;
    padding-left: 6%;
    text-shadow: 0 1px 0 #fff;
    margin: 10px 0 0 0;
}

#sidebar a {
    color: #666666;
    text-decoration: none;
}

#sidebar a:hover {
    text-decoration: underline;
    background: none;
}

#sidebar footer {
    margin-top: 18%;
}

/* Main Content */

div#main {
    width: 82%;
    min-height: 650px;
    background: url(../img/sidebar_shadow.png) repeat-y left top;
    float: left;
    margin-top: -2px;
    background-color: #fcfcfc;
}

#content {
    padding: 10px 20px;
}

#main h3 {
    color: #1F1F20;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #fff;
    font-size: 13px;
    margin: 8px 20px;
}

/* Modules */

.module {
    border: 1px solid #9BA0AF;
    width: 100%;
    margin: 20px 3% 0 3%;
    margin-top: 20px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #ffffff;
}

#main .module header h3 {
    display: block;
    width: 90%;
    float: left;
}

.module header {
    height: 38px;
    width: 100%;
    background: #F1F1F4 url(../img/secondary_bar.png) repeat-x;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.module footer {
    height: 32px;
    width: 100%;
    border-top: 1px solid #9CA1B0;
    background: #F1F1F4 url(../img/module_footer_bg.png) repeat-x;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

.module_content {
    margin: 10px 20px;
    color: #666;
}

/* Module Widths */

.width_full {
    width: 95%;
}

.width_half {
    width: 46%;
    margin-right: 0;
    float: left;
}

.width_quarter {
    width: 26%;
    margin-right: 0;
    float: left;
}

.width_3_quarter {
    width: 66%;
    margin-right: 0;
    float: left;
}

/* Stats Module */

.stats_graph {
    width: 64%;
    float: left;
}

.stats_overview {
    background: #F6F6F6;
    border: 1px solid #ccc;
    float: right;
    width: 26%;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.overview_today,
.overview_previous {
    width: 50%;
    float: left;
}

.stats_overview p {
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #fff;
}

.stats_overview p.overview_day {
    font-size: 12px;
    font-weight: bold;
    margin: 6px 0;
}

.stats_overview p.overview_count {
    font-size: 26px;
    font-weight: bold;
    color: #333333;
}

.stats_overview p.overview_type {
    font-size: 10px;
    color: #999999;
    margin-bottom: 8px;
}

/* New/Edit Article Module */

fieldset input[type=text] {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #BBBBBB;
    height: 20px;
    color: #666666;
    -webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
    box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
    padding-left: 10px;
    background-position: 10px 6px;
    margin: 0;
    display: block;
    float: left;
    width: 96%;
    margin: 0 10px;
}

fieldset input[type=text]:focus {
    outline: none;
    border: 1px solid #77BACE;
    -webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
    box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}

fieldset select {
    width: 96%;
    border: 1px solid #bbb;
    color: #666666;
}

fieldset textarea {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #BBBBBB;
    color: #666666;
    -webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
    box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
    padding-left: 10px;
    background-position: 10px 6px;
    margin: 0 0.5%;
    display: block;
    float: left;
    width: 96%;
    margin: 0 10px;
}

fieldset textarea:focus {
    outline: none;
    border: 1px solid #77BACE;
    -webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
    box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}

.submit_link {
    float: right;
    margin-right: 3%;
    padding: 5px 0;
}

.submit_link select {
    width: 150px;
    border: 1px solid #bbb;
    height: 20px;
    color: #666666;
}

.quick-button {
    border: 1px solid #ddd;
    margin-bottom: -1px;
    padding: 20px 2px 2px 2px;
    font-size: 14px;
    background-color: #fafafa;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#efefef));
    background-image: -webkit-linear-gradient(top, #fafafa, #efefef);
    background-image: -o-linear-gradient(top, #fafafa, #efefef);
    background-image: linear-gradient(to bottom, #fafafa, #efefef);
    -webkit-filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0);
    -webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, .8);
    box-shadow: 0 1px 0px rgba(255, 255, 255, .8);
    -webkit-border-radius: 2px;
    border-radius: 2px;
    display: block;
    color: #646464;
    text-shadow: 0 1px 0px rgba(255, 255, 255, .6);
    text-align: center;
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 128px;
    float: left;
}

.quick-button:hover {
    text-decoration: none;
    border-color: #a5a5a5;
    color: #444444;
    text-shadow: 0 1px 0px rgba(255, 255, 255, 1);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, .25);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .25);
}

.quick-button:hover .notification {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, .6);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .6);
}

.quick-button i {
    font-size: 32px;
    opacity: 0.75;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.quick-button:hover i {
    opacity: 1;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    max-width: 300px;
    padding: 0px 0;
    margin: 2px 0 0;
    list-style: none;
    text-shadow: none;
    background-color: #fcfcfc;
    border: 4px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-background-clipp: padding;
    background-clip: padding-box;
}

.navbar-inner {
    padding: 0 20px !important;
    
}

ul.pull-right {
    right: 0;
    left: auto;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar .btn {
    display: inline-block;
    padding: 11px 20px;
    margin-top: 0px;
    margin-left: 0px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background: transparent;
    border-top: 0px solid #bbbbbb;
    border-bottom: 0px solid #bbbbbb;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.footer {
    padding: 10px 20px;
    color: #fff;
    text-align: center;
}

.dropdown-menu-title {
    background: none repeat scroll 0 0 #F6F6F6;
    color: #646464;
    display: block;
    padding: 5px 10px;
}

ul.messages li .header .from {
    font-size: 12px;
    font-weight: bold;
}

.navbar-inner {
    -webkit-border-radius: 0 0 0 0!important;
    border-radius: 0 0 0 0!important;
    border-style: solid!important;
    border-width: 1px 0 2px!important;
    color: #FFF;
    -webkit-filter: none;
    filter: none;
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    text-shadow: 1px 1px 1px #0A0C0E;
}

.navbar-inner span.identity {
    padding: 0 10px 0px 5px;
    color: #FFF;
}

.quick-start {
    padding-top: 20px;
}

.quick-start a {
    min-height: 100px;
    margin-top: 30px;
}

.box-header {
    height: 20px;
    border: 1px solid #ddd;
    margin-bottom: -1px;
    padding: 10px;
    background-color: #fafafa;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#efefef));
    background-image: -webkit-linear-gradient(top, #fafafa, #efefef);
    background-image: -o-linear-gradient(top, #fafafa, #efefef);
    background-image: linear-gradient(to bottom, #fafafa, #efefef);
    -webkit-filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0);
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 2px 2px 0px 0px;
    border-radius: 2px 2px 0px 0px;
    overflow: hidden;
}

.box-header h4 {
    font-size: 16px;
    line-height: 16px;
    float: left;
    margin-top: 2px;
    color: #333;
    font-weight: normal;
    text-shadow: 0px 1px 0px #fff;
    text-indent: 20px;
}

.box-header h4 i {
    margin: 1px 3px 0px 5px;
    opacity: .4;
}

.box-header .break {
    border-left: 1px solid #fcfcfc;
    border-right: 1px solid #ddd;
    margin: -12px 10px -10px 10px;
    padding: 12px 0px 10px 0px;
}

.box-header .box-icon {
    float: right;
    margin-top: 1px;
}

.box-header .box-icon i {
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    opacity: 0.4;
}

.box-header .box-icon i:hover {
    opacity: .8;
}

.box-header .box-icon a {
    margin: 0px 5px;
}

.box-content {
    margin-top: -1px;
    padding: 10px 0 0;
    border: 1px solid #ddd;
    background: #fcfcfc;
    -webkit-border-radius: 0px 0px 2px 2px;
    border-radius: 0px 0px 2px 2px;
    -webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, .6);
    box-shadow: 0 1px 0px rgba(255, 255, 255, .6);
}

form.form-horizontal,
.form-actions {
    margin: 0;
}

.btn-right {
    margin-bottom: 5px;
}

.pagination li a {
    color: #333;
}

h4.header {
    margin: 5px 0;
}

.label-success,
.badge-success {
    background-color: #78CD51;
    border-color: #5AAD34;
}

.label-important,
.badge-important {
    background-color: #FA603D;
    border-color: #FA5833;
}

.label-warning,
.badge-warning {
    background-color: #FABB3D;
    border-color: #F4A506;
}

dl dd:nth-child(4n+2),
dl dt:nth-child(4n+1) {
    background: none repeat scroll 0 0 #F4F4F4;
}

.dl-horizontal dt,
.dl-horizontal dd {
    padding: 8px;
}

.controll {
    margin: 10px 0;
}

.cost {
    width: 60px;
}

.break {
    padding-left: 10px;
}

.ico-list {
    background: url(../img/list.ico) no-repeat;
    display: block;
    width: 48px;
    height: 48px;
    margin: 0 auto;
}

.ico-wrench {
    background: url(../img/ico-wrench.ico) no-repeat;
    display: block;
    width: 48px;
    height: 48px;
    margin: 0 auto;
}

.ico-time {
    background: url(../img/clock.png) no-repeat;
    display: block;
    width: 48px;
    height: 48px;
    margin: 0 auto;
}

.ico-project {
    background: url(../img/project_new.ico) no-repeat;
    display: block;
    width: 48px;
    height: 48px;
    margin: 0 auto;
}

.ico-user {
    background: url(../img/user.ico) no-repeat;
    display: block;
    width: 48px;
    height: 48px;
    margin: 0 auto;
}

.ico-department {
    background: url(../img/icon-department.ico) no-repeat;
    display: block;
    width: 48px;
    height: 48px;
    margin: 0 auto;
}

.ico-holiday {
    background: url(../img/holiday.ico) no-repeat;
    display: block;
    width: 48px;
    height: 48px;
    margin: 0 auto;
}

.ico-create-report {
    background: url(../img/ico-create-report.ico) no-repeat;
    display: block;
    width: 48px;
    height: 48px;
    margin: 0 auto;
}

.ico-week {
    background: url(../img/week.png) no-repeat;
    display: block;
    width: 48px;
    height: 48px;
    margin: 0 auto;
}

.download-csv {
    background: url(../img/download.ico) no-repeat;
    display: block;
    width: 48px;
    height: 48px;
    margin: 0 auto;
}

.icon-edit {
    background: url("../img/file_edit.ico") repeat scroll 0 0 transparent;
}

#pj-code {
    width: 50%;
    float: left;
    margin-bottom: 5px;
}

.pj-label {
    margin: 0 0 10px 10px;
    line-height: 30px;
    display: inline-block;
    vertical-align: middle;
}

a.remNew {
    color: red;
    font-size: 11px;
    font-weight: bold;
}

.add-email {
    padding-left: 20px;
}

.padding20 {
    padding: 0 20px;
}

label {
    margin-top: 5px;
}

.span {
    width: 60px!important;
}

.holiday {
    color: red;
}

.holiday {
    background-color: #FFF8E8;
    color: #ccc;
}

.off-day {
    color: #ccc;
}

.content-wrapp a {
    text-decoration: underline;
}

a.btn {
    text-decoration: none;
}

/*Login*/

/**** advanced input styling ****/

/* placeholder */

.login-box {
    background: -webkit-linear-gradient(top, #F5F5F5 0%, #FFFFFF 19%, #FFFFFF 77%, #F5F5F5 100%) repeat scroll 0 0 transparent;
    background: -o-linear-gradient(top, #F5F5F5 0%, #FFFFFF 19%, #FFFFFF 77%, #F5F5F5 100%) repeat scroll 0 0 transparent;
    background: linear-gradient(to bottom, #F5F5F5 0%, #FFFFFF 19%, #FFFFFF 77%, #F5F5F5 100%) repeat scroll 0 0 transparent;
    -webkit-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    -webkit-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.15);
    color: #444;
    margin: 100px auto;
    overflow: hidden;
    width: 400px;
    padding: 5px 40px;
}

.login-box p.header {
    /*text-align: center;*/
    color: #7D85B3;
    font-family: 'PT Sans', sans-serif;
    padding: 20px 0 20px 0;
    font-size: 1.5em;
}

::-webkit-input-placeholder {
    color: rgb(190, 188, 188);
    font-style: italic;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: rgb(190, 188, 188);
    font-style: italic;
}

input {
    outline: none;
}

/* all the input except submit and checkbox */

#UserLoginForm input#UserEmail,
input#UserPassword,
input#UserUsername {
    width: 92%;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    border: 1px solid rgb(178, 178, 178);
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing : content-box;
    box-sizing : content-box;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

/*styling both submit buttons */

p.button input {
    width: 30%;
    cursor: pointer;
    background: rgb(61, 157, 179);
    padding: 8px 5px;
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    font-size: 24px;
    border: 1px solid rgb(28, 108, 122);
    margin-bottom: 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset, 0px 0px 0px 3px rgb(254, 254, 254), 0px 5px 3px 3px rgb(210, 210, 210);
    box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset, 0px 0px 0px 3px rgb(254, 254, 254), 0px 5px 3px 3px rgb(210, 210, 210);
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

p.login.button {
    text-align: right;
    margin: 5px 0;
}

#UserLoginForm input#UserEmail,
#UserLoginForm input#UserUsername {
    background: url('../img/icn_profile.png') no-repeat 10px center;
}

#UserLoginForm input#UserPassword {
    background: url('../img/icn_security.png') no-repeat 10px center;
}

.login-box h1:after {
    content: " ";
    display: block;
    height: 2px;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 30px;
}

thead {
    background: #eee;
}

thead tr a {
    text-decoration: none !important;
}

/*styling the links to change from one form to another */

/** yerk some ugly IE fixes 'cause I know someone will ask "why does it look ugly in IE?", no matter how many warnings I will put in the article */

.lt8 input {
    padding: 10px 5px 10px 32px;
    width: 92%;
}

.lt8 input[type=checkbox] {
    width: 10px;
    padding: 0;
}

.lt8 h1 {
    color: #066A75;
}

.lt8 p.change_link,
.ie9 p.change_link {
    position: absolute;
    height: 90px;
    background: transparent;
}

.submit input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    padding: 5px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #006dcc;
    *background-color: #04c;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#04c));
    background-image: -webkit-linear-gradient(top, #08c, #04c);
    background-image: -o-linear-gradient(top, #08c, #04c);
    background-image: -webkit-linear-gradient(top, #08c, #04c);
    background-image: -o-linear-gradient(top, #08c, #04c);
    background-image: linear-gradient(to bottom, #08c, #04c);
    background-repeat: repeat-x;
    border-color: #04c #04c #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.submit {
    width: auto;
}

input.datepicker {
    background: url('../img/calendar.png') no-repeat 97% 50% !important;
}

.alert-success {
    background: url("../img/success.png") no-repeat scroll 10px 50% transparent;
    font-weight: bold;
    text-indent: 25px;
}

.alert-error {
    background: url("../img/error.png") no-repeat scroll 10px 50% transparent;
    font-weight: bold;
    text-indent: 25px;
}

.alert-warning {
    background: url("../img/wraning.ico") no-repeat scroll 5px 9px transparent;
    font-weight: bold;
    text-indent: 15px;
}

.margin-left5 {
    margin-left: 5px;
}

.margin-left13 {
    margin-left: 17px !important;
}

.margin-none {
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
}

/*MultiInput*/

.row-edit {
    width: 60%;
}

.multInput-row,
.multInput-row-edit {
    position: relative;
    margin-bottom: 5px;
}

.multInput-controls {
    display: inline-block;
    margin: 0 10px;
}

.multInput-control,
.remove {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../img/controls.png);
    background-repeat: no-repeat;
    cursor: pointer;
}

.multInput-control.delete {
    background-position: 0 0;
}

.multInput-control.delete:hover,
.remove:hover {
    background-position: -16px 0;
}

.multInput-control.up {
    background-position: 0 -16px;
    background-image: none;
}

.multInput-control.up:hover {
    background-position: -16px -16px;
    background-image: none;
}

.multInput-control.down {
    background-position: 0 -32px;
    background-image: none;
}

.multInput-control.down:hover {
    background-position: -16px -32px;
    background-image: none;
}

.multInput-row .item {
    display: inline;
}

.multInput-row.input:first-child .multInput-control.up,
.multInput-row.input.last .multInput-control.down {
    display: none;
}

.multInput-row.add {
    width: 100%;
    margin-top: 10px;
}

.multInput-add {
    padding-left: 20px;
    margin-top: 5px;
    line-height: 20px;
    background-image: url(../img/add.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
}

.multInput-add:hover {
    background-position: 0 -20px;
}

#multi-paginator ul {
    list-style: none;
    margin: 0;
    clear: both;
}

.hidden {
    display: none!important;
}

/* start commented backslash hack \*/

* html .clearfix {
    height: 1%;
}

/**/

form.button {
    width: 60px;
    float: left;
    margin-top: 1px;
}

#department-manager {
    *width: 50%;
}

.more-user {
    margin-top: 5px;
}

a.quick-button {
    margin-bottom: 20px;
    position: relative;
    padding-top: 30px;
}

a.quick-button p {
    position: absolute;
    width: 100%;
    bottom: 2px;
}

select + .child {
    margin-left: 40px;
}

.label {
    width: auto;
    text-align: center;
}

.pagination {
    text-align: center;
}

.pagination ul>li>a,
.pagination ul>li>span {
    border-collapse: collapse;
    border-color: #aaf;
}

.pagination li a {
    color: #04c;
}

.pagination li.current,
.pagination li.disabled {
    cursor: default;
}

.pagination li.current {
    background-color: #006dcc;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#04c));
    background-image: -webkit-linear-gradient(top, #08c, #04c);
    background-image: -o-linear-gradient(top, #08c, #04c);
    background-image: -webkit-linear-gradient(top, #08c, #04c);
    background-image: -o-linear-gradient(top, #08c, #04c);
    background-image: linear-gradient(to bottom, #08c, #04c);
    background-repeat: repeat-x;
    border: 1px solid #04c!important;
    border-color: #04c #04c #002a80;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
}

.pagination .disabled {
    color: #aaa;
    text-shadow: 0 -1px 1px #fff;
}

.pagination a {
    text-decoration: none;
}

/*-- Sort column --*/

th.sort_column a {
    display: block;
    background: url(../img/arrow_up_down.png) 100% 50% no-repeat;
}

th.sort_column a.asc {
    background-image: url(../img/arrow_down.png);
}

th.sort_column a.desc {
    background-image: url(../img/arrow_up.png);
}

.radio.inline+.radio.inline,
.checkbox.inline+.checkbox.inline {
    margin-left: 0;
    margin-right: 10px;
}

/*-- Fixes --*/

.table td,
.table th,
.table thead th {
    vertical-align: middle;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

td.center,
td.text-center {
    text-align: center;
}

.float-block-title {
    width: auto;
    display: block;
}

.auto-width {
    *max-width: 48.93617021276595%;
    max-width: 400px;
    width: auto!important;
}

.pull-left {
    margin-right: 2.127659574468085%;
}

.pull-right {
    margin-left: 2.127659574468085%;
}

.pull-left .auto-width,
.pull-right .auto-width {
    max-width: 300px;
}

.navbar-fixed-top {
    width: 100%;
    right: auto;
    min-width: 600px;
}

/**************************
chosen.css
***************************/

/* @group Base */

.chzn-container {
    font-size: 13px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    *display: inline;
}

.chzn-container .chzn-drop {
    background: #fff;
    border: 1px solid #aaa;
    border-top: 0;
    position: absolute;
    top: 100%;
    left: -9999px;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    -moz-box-shadow : 0 4px 5px rgba(0, 0, 0, .15);
    box-shadow : 0 4px 5px rgba(0, 0, 0, .15);
    z-index: 1010;
    width: 100%;
    -moz-box-sizing : border-box;
    -ms-box-sizing : border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing : border-box;
    box-sizing : border-box;
}

.chzn-container.chzn-with-drop .chzn-drop {
    left: 0;
}

/* @end */

/* @group Single Chosen */

.chzn-container-single .chzn-single {
    background-color: #ffffff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
    background-image: -webkit-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background-image: -o-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background-image: -webkit-linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background-image: -o-linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background-image: linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    -webkit-border-radius: 5px;
    -moz-border-radius : 5px;
    border-radius : 5px;
    -moz-background-clip : padding;
    -webkit-background-clip: padding-box;
    background-clip : padding-box;
    border: 1px solid #aaaaaa;
    -webkit-box-shadow: 0 0 3px #ffffff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow : 0 0 3px #ffffff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow : 0 0 3px #ffffff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    display: block;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    height: 23px;
    line-height: 24px;
    padding: 0 0 0 8px;
    color: #444444;
    text-decoration: none;
}

.chzn-container-single .chzn-default {
    color: #999;
}

.chzn-container-single .chzn-single span {
    margin-right: 26px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.chzn-container-single .chzn-single abbr {
    display: block;
    position: absolute;
    right: 26px;
    top: 6px;
    width: 12px;
    height: 12px;
    font-size: 1px;
    background: url('../img/chosen-sprite.png') -42px 1px no-repeat;
}

.chzn-container-single .chzn-single abbr:hover {
    background-position: -42px -10px;
}

.chzn-container-single.chzn-disabled .chzn-single abbr:hover {
    background-position: -42px -10px;
}

.chzn-container-single .chzn-single div {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: 100%;
    width: 18px;
}

.chzn-container-single .chzn-single div b {
    background: url('../img/chosen-sprite.png') no-repeat 0px 2px;
    display: block;
    width: 100%;
    height: 100%;
}

.chzn-container-single .chzn-search {
    padding: 3px 4px;
    position: relative;
    margin: 0;
    white-space: nowrap;
    z-index: 1010;
}

.chzn-container-single .chzn-search input {
    background: #fff url('../img/chosen-sprite.png') no-repeat 100% -20px;
    background: url('../img/chosen-sprite.png') no-repeat 100% -20px, -webkit-gradient(linear, 0 0, 0 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
    background: url('../img/chosen-sprite.png') no-repeat 100% -20px, -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background: url('../img/chosen-sprite.png') no-repeat 100% -20px, -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background: url('../img/chosen-sprite.png') no-repeat 100% -20px, -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
    background: url('../img/chosen-sprite.png') no-repeat 100% -20px, -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
    background: url('../img/chosen-sprite.png') no-repeat 100% -20px, linear-gradient(#eeeeee 1%, #ffffff 15%);
    margin: 1px 0;
    padding: 4px 20px 4px 5px;
    outline: 0;
    border: 1px solid #aaa;
    font-family: sans-serif;
    font-size: 1em;
    width: 100%;
    -moz-box-sizing : border-box;
    -ms-box-sizing : border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing : border-box;
    box-sizing : border-box;
}

.chzn-container-single .chzn-drop {
    margin-top: -1px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius : 0 0 4px 4px;
    border-radius : 0 0 4px 4px;
    -moz-background-clip : padding;
    -webkit-background-clip: padding-box;
    background-clip : padding-box;
}

.chzn-container-single-nosearch .chzn-search {
    position: absolute;
    left: -9999px;
}

/* @end */

/* @group Multi Chosen */

.chzn-container-multi .chzn-choices {
    background-color: #fff;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
    background-image: -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background-image: -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background-image: -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
    background-image: -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
    background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);
    border: 1px solid #aaa;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: 0;
    padding: 0;
    cursor: text;
    overflow: hidden;
    height: auto !important;
    height: 1%;
    position: relative;
    width: 100%;
    -moz-box-sizing : border-box;
    -ms-box-sizing : border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing : border-box;
    box-sizing : border-box;
}

.chzn-container-multi .chzn-choices li {
    float: left;
    list-style: none;
}

.chzn-container-multi .chzn-choices .search-field {
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

.chzn-container-multi .chzn-choices .search-field input {
    color: #666;
    background: transparent !important;
    border: 0 !important;
    font-family: sans-serif;
    font-size: 100%;
    height: 15px;
    padding: 5px;
    margin: 1px 0;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow : none;
    box-shadow : none;
}

.chzn-container-multi .chzn-choices .search-field .default {
    color: #999;
}

.chzn-container-multi .chzn-choices .search-choice {
    -webkit-border-radius: 3px;
    -moz-border-radius : 3px;
    border-radius : 3px;
    -moz-background-clip : padding;
    -webkit-background-clip: padding-box;
    background-clip : padding-box;
    background-color: #e4e4e4;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
    background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    -webkit-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow : 0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    box-shadow : 0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    color: #333;
    border: 1px solid #aaaaaa;
    line-height: 13px;
    padding: 3px 20px 3px 5px;
    margin: 3px 0 3px 5px;
    position: relative;
    cursor: default;
}

.chzn-container-multi .chzn-choices .search-choice.search-choice-disabled {
    background-color: #e4e4e4;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
    background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    color: #666;
    border: 1px solid #cccccc;
    padding-right: 5px;
}

.chzn-container-multi .chzn-choices .search-choice-focus {
    background: #d4d4d4;
}

.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
    display: block;
    position: absolute;
    right: 3px;
    top: 4px;
    width: 12px;
    height: 12px;
    font-size: 1px;
    background: url('../img/chosen-sprite.png') -42px 1px no-repeat;
}

.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover {
    background-position: -42px -10px;
}

.chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close {
    background-position: -42px -10px;
}

/* @end */

/* @group Results */

.chzn-container .chzn-results {
    margin: 0 4px 4px 0;
    max-height: 240px;
    padding: 0 0 0 4px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.chzn-container-multi .chzn-results {
    margin: 0;
    padding: 0;
}

.chzn-container .chzn-results li {
    display: none;
    line-height: 15px;
    padding: 5px 6px;
    margin: 0;
    list-style: none;
}

.chzn-container .chzn-results .active-result {
    cursor: pointer;
    display: list-item;
}

.chzn-container .chzn-results .highlighted {
    background-color: #3875d7;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3875d7', endColorstr='#2a62bc', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
    background-image: -webkit-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
    background-image: -o-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
    background-image: -webkit-linear-gradient(#3875d7 20%, #2a62bc 90%);
    background-image: -o-linear-gradient(#3875d7 20%, #2a62bc 90%);
    background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
    color: #fff;
}

.chzn-container .chzn-results li em {
    background: #feffde;
    font-style: normal;
}

.chzn-container .chzn-results .highlighted em {
    background: transparent;
}

.chzn-container .chzn-results .no-results {
    background: #f4f4f4;
    display: list-item;
}

.chzn-container .chzn-results .group-result {
    cursor: default;
    color: #999;
    font-weight: bold;
}

.chzn-container .chzn-results .group-option {
    padding-left: 15px;
}

.chzn-container-multi .chzn-drop .result-selected {
    display: none;
}

.chzn-container .chzn-results-scroll {
    background: white;
    margin: 0 4px;
    position: absolute;
    text-align: center;
    width: 321px;
    /* This should by dynamic with js */
    z-index: 1;
}

.chzn-container .chzn-results-scroll span {
    display: inline-block;
    height: 17px;
    text-indent: -5000px;
    width: 9px;
}

.chzn-container .chzn-results-scroll-down {
    bottom: 0;
}

.chzn-container .chzn-results-scroll-down span {
    background: url('../img/chosen-sprite.png') no-repeat -4px -3px;
}

.chzn-container .chzn-results-scroll-up span {
    background: url('chosen-sprite.png') no-repeat -22px -3px;
}

/* @end */

/* @group Active  */

.chzn-container-active .chzn-single {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    -moz-box-shadow : 0 0 5px rgba(0, 0, 0, .3);
    box-shadow : 0 0 5px rgba(0, 0, 0, .3);
    border: 1px solid #5897fb;
}

.chzn-container-active.chzn-with-drop .chzn-single {
    border: 1px solid #aaa;
    -webkit-box-shadow: 0 1px 0 #fff inset;
    -moz-box-shadow : 0 1px 0 #fff inset;
    box-shadow : 0 1px 0 #fff inset;
    background-color: #eee;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
    background-image: -webkit-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
    background-image: -o-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
    background-image: -webkit-linear-gradient(#eeeeee 20%, #ffffff 80%);
    background-image: -o-linear-gradient(#eeeeee 20%, #ffffff 80%);
    background-image: linear-gradient(#eeeeee 20%, #ffffff 80%);
    -webkit-border-bottom-left-radius : 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft : 0;
    border-bottom-left-radius : 0;
    border-bottom-right-radius: 0;
}

.chzn-container-active.chzn-with-drop .chzn-single div {
    background: transparent;
    border-left: none;
}

.chzn-container-active.chzn-with-drop .chzn-single div b {
    background-position: -18px 2px;
}

.chzn-container-active .chzn-choices {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    -moz-box-shadow : 0 0 5px rgba(0, 0, 0, .3);
    box-shadow : 0 0 5px rgba(0, 0, 0, .3);
    border: 1px solid #5897fb;
}

.chzn-container-active .chzn-choices .search-field input {
    color: #111 !important;
}

/* @end */

/* @group Disabled Support */

.chzn-disabled {
    cursor: default;
    opacity: 0.5 !important;
}

.chzn-disabled .chzn-single {
    cursor: default;
}

.chzn-disabled .chzn-choices .search-choice .search-choice-close {
    cursor: default;
}

/* @group Right to Left */

.chzn-rtl {
    text-align: right;
}

.chzn-rtl .chzn-single {
    padding: 0 8px 0 0;
    overflow: visible;
}

.chzn-rtl .chzn-single span {
    margin-left: 26px;
    margin-right: 0;
    direction: rtl;
}

.chzn-rtl .chzn-single div {
    left: 3px;
    right: auto;
}

.chzn-rtl .chzn-single abbr {
    left: 26px;
    right: auto;
}

.chzn-rtl .chzn-choices .search-field input {
    direction: rtl;
}

.chzn-rtl .chzn-choices li {
    float: right;
}

.chzn-rtl .chzn-choices .search-choice {
    padding: 3px 5px 3px 19px;
    margin: 3px 5px 3px 0;
}

.chzn-rtl .chzn-choices .search-choice .search-choice-close {
    left: 4px;
    right: auto;
}

.chzn-rtl .chzn-search {
    left: 9999px;
}

.chzn-rtl.chzn-with-drop .chzn-search {
    left: 0px;
}

.chzn-rtl .chzn-drop {
    left: 9999px;
}

.chzn-rtl.chzn-container-single .chzn-results {
    margin: 0 0 4px 4px;
    padding: 0 4px 0 0;
}

.chzn-rtl .chzn-results .group-option {
    padding-left: 0;
    padding-right: 15px;
}

.chzn-rtl.chzn-container-active.chzn-with-drop .chzn-single div {
    border-right: none;
}

.chzn-rtl .chzn-search input {
    background: #fff url('../img/chosen-sprite.png') no-repeat -30px -20px;
    background: url('../img/chosen-sprite.png') no-repeat -30px -20px, -webkit-gradient(linear, 0 0, 0 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
    background: url('../img/chosen-sprite.png') no-repeat -30px -20px, -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background: url('../img/chosen-sprite.png') no-repeat -30px -20px, -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background: url('../img/chosen-sprite.png') no-repeat -30px -20px, -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
    background: url('../img/chosen-sprite.png') no-repeat -30px -20px, -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
    background: url('../img/chosen-sprite.png') no-repeat -30px -20px, linear-gradient(#eeeeee 1%, #ffffff 15%);
    padding: 4px 5px 4px 20px;
    direction: rtl;
}

.chzn-container-single.chzn-rtl .chzn-single div b {
    background-position: 6px 2px;
}

.chzn-container-single.chzn-rtl.chzn-with-drop .chzn-single div b {
    background-position: -12px 2px;
}

/* @end */

/* @group Retina compatibility */

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {
    .chzn-rtl .chzn-search input,
    .chzn-container-single .chzn-single abbr,
    .chzn-container-single .chzn-single div b,
    .chzn-container-single .chzn-search input,
    .chzn-container-multi .chzn-choices .search-choice .search-choice-close,
    .chzn-container .chzn-results-scroll-down span,
    .chzn-container .chzn-results-scroll-up span {
        background-image: url('chosen-sprite@2x.png') !important;
        background-repeat: no-repeat !important;
        background-size: 52px 37px !important;
    }
}

/* @end */

/**************************
 * Additional 16px icons
***************************/

.icon-16 {
    width: 14px!important;
    height: 14px!important;
    background-size: cover!important;
    display: inline-block!important;
    vertical-align: middle!important;
}

.icon-16::before {
    content: " ";
}

.icon-16.add-date {
    background: url(../img/icon-16/add-date.png) 50% 50% no-repeat;
}

.icon-16.report {
    background: url(../img/icon-16/file.png) 50% 50% no-repeat;
}

.icon-16.department {
    background: url(../img/icon-16/sitemap.png) 50% 50% no-repeat;
}

.icon-16.project {
    background: url(../img/icon-16/new-file.png) 50% 50% no-repeat;
}

.icon-16.user {
    background: url(../img/icon-16/user.png) 50% 50% no-repeat;
}

.icon-16.holiday {
    background: url(../img/icon-16/calendar.png) 50% 50% no-repeat;
}

.icon-16.download {
    background: url(../img/icon-16/download.png) 50% 50% no-repeat;
}

/**************************
 * Additional 20px icons
***************************/

.icon-20 {
    width: 20px!important;
    height: 20px!important;
    background-size: cover!important;
    display: inline-block!important;
    vertical-align: middle!important;
}

.icon-20::before {
    content: " ";
}

.icon-20.add-date {
    background: url(../img/icon-20/add-date.png) 50% 50% no-repeat;
}

.icon-20.report {
    background: url(../img/icon-20/file.png) 50% 50% no-repeat;
}

.icon-20.department {
    background: url(../img/icon-20/sitemap.png) 50% 50% no-repeat;
}

.icon-20.project {
    background: url(../img/icon-20/add-file.png) 50% 50% no-repeat;
}

.icon-20.user {
    background: url(../img/icon-20/user.png) 50% 50% no-repeat;
}

.icon-20.holiday {
    background: url(../img/icon-20/calendar.png) 50% 50% no-repeat;
}

.icon-20.download {
    background: url(../img/icon-20/download.png) 50% 50% no-repeat;
}

ul.filetree,
ul.filetree ul,
ul.department_tree,
ul.department_tree ul {
    list-style: none;
    clear: both;
}

ul.filetree input {
    margin-right: 3px;
}

ul.filetree ul.leaf li {
    display: inline-table;
    margin-right: 5px;
    width: 160px;
}

ul.department_tree {
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

ul.department_tree,
ul.department_tree ul {
    margin: 0;
    padding: 0;
    display: block;
    clear: both;
}

ul.department_tree .header,
ul.department_tree .table {
    width: 100%;
    display: table;
    margin: 0;
}

ul.department_tree .header>span,
ul.department_tree .table>span {
    display: table-cell;
    float: none!important;
    vertical-align: middle;
    padding: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul.department_tree .header>span.dept_name {
    border-left: none;
    border-right: none;
}

ul.department_tree .table>span.dept_name > * {
    max-height: 100px;
    overflow: auto;
    display: block;
    margin-right: -10px;
}

ul.department_tree .header>span.code,
ul.department_tree .table>span.code {
    width: 10%;
    text-align: center;
}

ul.department_tree .header>span.dept_option,
ul.department_tree .table>span.dept_option {
    width: 10%;
    text-align: center;
}

ul.department_tree li {
    clear: both;
    min-height: 40px;
    line-height: 40px;
}

ul.department_tree > li {
    border-bottom: 1px solid #ddd;
}

ul.department_tree li > div {
    display: none;
}

ul.department_tree > li:nth-child(2n + 1) {
    background: #f9f9f9;
}

table tr > td a.btn,
ul.department_tree li span.pull-right a.btn {
    margin: 2px;
    display: inline;
    display: inline-block;
}

ul.department_tree .header {
    font-weight: bold;
    background: #eee !important;
}

ul.department_tree li.expandable > .dept_name,
ul.department_tree li.expandable > .table > .dept_name {
    background: url('../img/plus.gif') 0 50% no-repeat;
    cursor: pointer;
}

ul.department_tree li.collapsable > .dept_name,
ul.department_tree li.collapsable > .table > .dept_name {

    cursor: pointer;
}

ul.department_tree .dept_option {
    text-align: center;
}

ul.department_tree ul li {
    border-top: 1px solid #ddd;
}

ul.department_tree .dept_name {
    padding-left: 5px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    word-wrap: break-word;
}

.scrollbar {
    display: block;
    max-height: 400px;
    overflow: auto;
}

.red {
    color: red;
}

.pull-right-cost {
    text-align: right !important;
    width: auto;
}

.nowrap {
    white-space: nowrap!important;
}

.hide {
    display: none;
}

.block {
    display: block;
}

.error-message {
    font-size: .85em !important;
    color: #b94a48 !important;
}

.class_flg_background {
    background: #f9f9f9 !important;
}
.none_background{
    background: white !important;
}
