.nowrap {
	white-space: nowrap;
}

.table {
	margin-bottom: 0px;
}

.table thead th {
	background-color: #BDBDBD
}

.pagination {
    text-align: center;
}

.pagination .current,
.pagination .disabled {
    float: left;
    padding: 4px 12px;

    color: #999;
    cursor: default;
    line-height: 20px;
    text-decoration: none;

    border: 1px solid #DDD;
    border-left-width: 0;
}

legend {
	padding: 0 15px;
}

.table-wrapper .pinned{
	background-color: #fff;
	border-right: 1px #ddd solid;
}

.alert-success {
    background: url("../img/success.png") no-repeat scroll 10px 50% transparent;
    font-weight: bold;
    text-indent: 25px;
}

.alert-error {
    background: url("../img/error.png") no-repeat scroll 10px 50% transparent;
    font-weight: bold;
    text-indent: 25px;
}

.alert-warning {
    background: url("../img/wraning.ico") no-repeat scroll 5px 9px transparent;
    font-weight: bold;
    text-indent: 15px;
}

.error-message {
    font-size: .85em !important;
    color: #b94a48 !important;
}